
<form action="" [formGroup]="signupform" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1 class="card-title text-center">SignUp</h1>
            <div class="mb-3">
                <label for="" class="form-label">Name:</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="name" [ngClass]="{ 'is-invalid': signupform.get('name')?.invalid && (signupform.get('name')?.touched||signupform.get('name')?.dirty), 'is-valid':signupform.get('name')?.valid}" formControlName="name"/>
                <div *ngIf="signupform.get('name')?.invalid && (signupform.get('name')?.touched||signupform.get('name')?.dirty)"
                class="text-danger">
                <span *ngIf="signupform.get('name')?.errors?.['required']">
                    name is required
                </span>
            </div>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="password" [ngClass]="{'is-invalid':signupform.get('password')?.invalid&& (signupform.get('password')?.touched||signupform.get('password')?.dirty),'is-valid':signupform.get('password')?.valid}"/>
                <div *ngIf="signupform.get('password')?.invalid&&(signupform.get('password')?.touched||signupform.get('password')?.dirty)" class="text-danger">
                    <span *ngIf="signupform.get('password')?.errors?.['required']">
                        password is required
                    </span>
                </div> 
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role:</label>
                    <select class="form-select" aria-label="Default select example" formControlName="role">
                        <option value="user">User</option>
                        <option value="author">Author</option>
                    </select>
                    <div *ngIf="signupform.get('role')?.value==='select'" class="text-danger">
                            <span>
                                **role is required.
                            </span>
                    </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary w-auto">
                    Sign-Up
                </button>
            </div>
            <div class="row mt-3">
                <p>Go Back to <a routerLink="/auth/login" class="loginlink">Login</a></p>
            </div>
        </div>
    </div>
</div>

</form>