
    <div class="row">
        <div class="col-2">
            <div class="mb-3">
            <small id="helpId" class="form-text text-muted">search</small>
                <input type="text" class="form-control input-group-sm" name="" id="" aria-describedby="helpId"
                    placeholder="" #search (change)="filtersearch(search)"/>
            </div>
        </div>
        <div class="col-2">
            <small id="helpId" class="form-text text-muted">limit</small>
            <select class="form-select" id="selectOption"  #limit (change)="filterlimit(limit)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="all">All</option>
            </select>
        </div>
        <div class="col-2">
            <div class="mb-3">
            <small id="helpId" class="form-text text-muted">page</small>
                <input type="text" class="form-control input-group-sm" name="" id="" aria-describedby="helpId"
                    placeholder="" #page (change)="filterpage(page)"/>
            </div>
        </div>
    </div>


<app-datatable [rowData]="bookData" [columnDefs]="columnDefs"></app-datatable>